*{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.App {
  display: flex;
  min-height: 100vh;
  background-color: #f4f5f7;
}

.content {
  flex-grow: 1;
  padding: 20px;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
}

.activity-line {
  position: absolute;
  left: 40px;
  top: 0;
  bottom: 0;
  width: 1px;
  background-color: lightgrey;
}
.worldmap__figure-container{
  background-color: transparent !important;
}